-model_name = controller_name.singularize
-model_title = model_name.titleize
-instance = instance_variable_get("@" + model_name)

-content_for :widget_title do
  #{model_title} Information

-content_for :widget_help, "#{model_name}_info"

-content_for :widget_buttons do
  %a.widgetbtn{ :href => method("edit_flow_#{model_name}_path").call(instance),
                :'data-toggle' => 'modal-ajax-form',
                :'data-modal-reset' => 'reset',
                :'data-form-target' => 'refresh',
                :'data-modal-class' => 'modal-wide',
                :title => "Edit #{model_title}" }
    %i.grcicon-edit

.information
  .toolbar-widget

  %hr.hr-widget

  .row-fluid
    .span12
      .span4
        %label Name
        %input.span12{:type => "text", :disabled => "disabled", :value => instance.name}
  .row-fluid
    .span12
      %label Email
      %input.span12{:disabled => "disabled", :type => "text", :value => instance.email}

%hr.hr-widget

.row-fluid
  .span6.nominheight
    %label.fltlft
      %strong> Created: #{instance.created_at.strftime("%m/%d/%y")}
  .span6.nominheight
    %label.fltrt
      %strong> Updated: #{instance.updated_at.strftime("%m/%d/%y")}
