-requests = pbc_list.requests

.pbc-request-zone
  .row-fluid
    .span9.pbc-main-title
      %h3 Requests
    .span1
      &nbsp;
    .span1
      &nbsp;
    .span1.pbc-add
      %a.btn.btn-mini{ :href => new_flow_request_path(:'request[pbc_list_id]' => pbc_list.id), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :'data-modal-class' => 'modal-wide'}
        %i.grcicon-add

%ul.pbc-control-assessments#requests
  -pbc_list.requests.all.group_by(&:control_assessment_id).each do |control_assessment_id, requests|
    -control_assessment = requests.first.control_assessment
    -control_assessment_collapse_id = "control_assessment-#{control_assessment_id || 'null'}"
    %li.pbc-ca-item
      /{ html_data_attributes(request, "data-filter-", [ ["type", "type.display_name"], "status", ["date-requested", "date_requested.to_date"], ["control-code", "control.slug"], ["person", "persons_responsible"], "id" ]) }
      .pbc-ca-title
        .row-fluid
          .span2{"data-target" => "##{control_assessment_collapse_id}", "data-toggle" => "collapse"}
            .expander
            %strong=(control_assessment && control_assessment.control.slug) || "(No Control Selected)".html_safe
          .span7
            =control_assessment && control_assessment.control.title
          -if control_assessment.present?
            .span1
              %a.btn.btn-mini{ :rel => "tooltip", :'data-placement' => "top", :title => "Internal: Test of Design", :class => control_assessment_button_class(control_assessment.internal_tod), :'data-remote' => true, :'data-method' => 'post', :href => rotate_flow_control_assessment_path(control_assessment, :'control_assessment[internal_tod]' => 'toggle') }
                %i{ :class => control_assessment_button_icon(control_assessment.internal_tod) }
              %a.btn.btn-mini{ :rel => "tooltip", :'data-placement' => "top", :title => "Internal: Test of Implementation", :class => control_assessment_button_class(control_assessment.internal_toe), :'data-remote' => true, :'data-method' => 'post', :href => rotate_flow_control_assessment_path(control_assessment, :'control_assessment[internal_toe]' => 'toggle') }
                %i{ :class => control_assessment_button_icon(control_assessment.internal_toe) }
            .span1
              %a.btn.btn-mini{ :rel => "tooltip", :'data-placement' => "top", :title => "External: Test of Design", :class => control_assessment_button_class(control_assessment.external_tod), :'data-remote' => true, :'data-method' => 'post', :href => rotate_flow_control_assessment_path(control_assessment, :'control_assessment[external_tod]' => 'toggle') }
                %i{ :class => control_assessment_button_icon(control_assessment.external_tod) }
              %a.btn.btn-mini{ :rel => "tooltip", :'data-placement' => "top", :title => "External: Test of Implementation", :class => control_assessment_button_class(control_assessment.external_toe), :'data-remote' => true, :'data-method' => 'post', :href => rotate_flow_control_assessment_path(control_assessment, :'control_assessment[external_toe]' => 'toggle') }
                %i{ :class => control_assessment_button_icon(control_assessment.external_toe) }

      .pbc-ca-content.collapse{ :id => control_assessment_collapse_id }
        %ul.pbc-requests
          -requests.each do |request|
            -request_collapse_class = "control_assessment-#{control_assessment_id || 'null' }-request-#{request.id}"
            %li.main-item{ html_data_attributes(request, "data-filter-", [ ["type", "type.display_name"], "status", ["date-requested", "date_requested.to_date"], ["control-code", "control.slug"], ["person", "persons_responsible"], "id" ]) }
              .row-fluid.pbc-item-head
                .span3.pbc-item.pbc-control
                  %a.btn.btn-mini.pull-right{:href => flow_controls_path(:list_select => 1), :'data-toggle' => 'modal-ajax-single-selector', :'data-modal-reset' => 'reset', :'data-list-target' => '#referenceList', :'data-modal-class' => 'modal-slim' }
                    %i.grcicon-link
                  .item.i-control
                    =request.control && request.control.slug || "&nbsp;".html_safe
                .span3.pbc-request
                  .item
                    Request Type: Documentation
                    -#%select.span12
                      %option{:selected => "selected"} Documentation
                      %option Interview
                      %option Population Sample
                .span3
                  &nbsp;
                .span2
                  &nbsp;
                .span1.pbc-response-actions
                  %a#tooltip16.btn.btn-blue.btn-mini{"rel" => "tooltip", "data-placement" => "left", "title" => "More", "data-target" => ".#{request_collapse_class}", "data-toggle" => "collapse"}
                    %i.grcicon-more
              .row-fluid.collapse{ :class => request_collapse_class }
                .span3.pbc-item.pbc-control
                  %h5 PBC Control Description
                  %p=raw request.pbc_control_desc
                .span2.pbc-item.pbc-request
                  %h5 Request
                  %p=raw request.request
                .span2.pbc-item.pbc-test
                  %h5 Test
                  %p=raw request.test
                .span2.pbc-item.pbc-notes
                  %h5 Notes
                  %p=raw request.notes
                .span2.pbc-item.pbc-status
                  %h5 Status
                  %select.span12
                    %option{:selected => "selected"} Draft
                    %option Open - Waiting Compliance
                    %option Open - Waiting Auditors
                    %option Completed
                  %p
                    %strong Company:
                    =request.company_responsible
                    %br
                    %strong Auditor:
                    =request.auditor_responsible

                  %p.subtle
                    %strong Requested:
                    =request.date_requested && request.date_requested.strftime('%m/%d/%Y')
                .span1.pbc-item.pbc-actions
                  %a.btn.btn-mini{ :href => edit_flow_request_path(request.id), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'refresh', :'data-modal-class' => 'modal-wide'}
                    %i.grcicon-edit-grey

              .row-fluid.pbc-responses-container.collapse{ :class => request_collapse_class }
                .span12
                  =render :partial => "responses", :locals => { :pbc_list => pbc_list, :request => request }

