-content_for :widget_buttons do
  %input.ui-corner-all.widgetsearch{:placeholder => "Search", :type => "text"}

-content_for :widget_title do
  Programs

%ul.nav.nav-tabs.nav-stacked
  -@programs.each do |program|
    %li
      -stats = program_stats(program)
      %a{ :href => flow_program_path(program), :data => { :'popover-href' => tooltip_flow_program_path(program), :placement => 'right'} }
        %h3=program.title
        %p.item
          %strong Reg sections:&nbsp;&nbsp;
          %strong> #{stats[:sections_count]}
          , 
          %strong #{stats[:sections_done_count]}
          linked, 
          %strong #{stats[:sections_na_count]}
          N/A, 
          %strong #{stats[:sections_undone_count]}
          not finished
        %p.item
          %strong Controls:&nbsp;&nbsp;
          %strong> #{stats[:controls_count]}
          , 
          %strong #{stats[:controls_parented_count]}
          with parents
