.row-fluid
  .span4.control-group
    .row-fluid
      .span8.form-inline.control-group
        %label.cleanlabel{:for => "control-program_id"} Program
        %select#control-program_id.input-small{:name => "control[program_id]", :placeholder => "SOX", :type => "text", :class => (f.object.errors.empty? ? "" : (f.object.errors[:program].empty? ? "forminputsuccess" : "forminputfail"))}
          %option{:value => ""}
          -Program.all.each do |program|
            -if f.object.program_id == program.id
              %option{:value => program.id, :selected => true}=program.slug
            -else
              %option{:value => program.id}=program.slug
        %span.help-inline
          -f.object.errors[:program].each do |error|
            %span Program #{error}
      .span4.form-inline.control-group
        %label.cleanlabel{:for => "control-slug"} Code
        %input#control-slug.input-supermini{:name => "control[slug]", :placeholder => "SOX", :type => "text", :value => f.object.slug, :class => (f.object.errors.empty? ? "" : (f.object.errors[:slug].empty? ? "forminputsuccess" : "forminputfail"))}
        %span.help-inline
          -f.object.errors[:slug].each do |error|
            %span Short code #{error}
      -#.span4.form-inline.control-group
        %label{:for => "control-version"} Version
        %input#control-version.input-supermini{:name => "control[version]", :placeholder => "SOX", :type => "text", :value => f.object.version}
        %span.help-inline
          -f.object.errors[:version].each do |error|
            %span=error
  .span1
  .span7.control-group.fltrt
    .row-fluid.fltrt
      -#.span4.form-inline.control-group
        %label{:for => "control-effectivedate"} Effective Date
        %input#control-effectivedate.input-small{:placeholder => "12/12/12", :type => "text"}
        %span.help-inline
      -#.span4.form-inline.control-group
        %label{:for => "control-verificationdate"} Category
        %input#control-verificationdate.input-small{:placeholder => "Building", :type => "text"}
        %span.help-inline
      .span6.form-inline.control-group
        %label.cleanlabel{:for => "control-effective_date"} Effective Date
        %input#control-effective_date.input-small{:xname => "control[effective_date]", :placeholder => "MM/DD/YYYY", :type => "text", :value => "", :class => (f.object.errors.empty? ? "" : (f.object.errors[:effective_date].empty? ? "forminputsuccess" : "forminputfail")), :'data-toggle' => 'datepicker'}
        %span.help-inline
          -f.object.errors[:effective_date].each do |error|
            %span Short code #{error}
      -#.span4.form-inline.control-group.fltrt
        %label{:for => "control-frequency"} Sub-Category
        %input#control-frequency.input-small{:placeholder => "Security", :type => "text"}
        %span.help-inline

%br
.row-fluid
  .span12.control-group
    %label.cleanlabel{:for => "control-title"} Title
    %input#control-title.span12{:placeholder => "", :type => "text", :name => "control[title]", :value => f.object.title, :class => (f.object.errors.empty? ? "" : (f.object.errors[:title].empty? ? "forminputsuccess" : "forminputfail"))}
    %span.help-inline
      -f.object.errors[:title].each do |error|
        %span Title #{error}

%br
.row-fluid
  .span12.control-group
    %label.cleanlabel{:for => "control-description"} Description
    %textarea.span12#control-description{:placeholder => "", :name => "control[description]", :class => (f.object.errors.empty? ? "" : (f.object.errors[:description].empty? ? "forminputsuccess" : "forminputfail"))}=f.object.description
    %span.help-inline
      -f.object.errors[:description].each do |error|
        %span Description #{error}

