-content_for :modal_title do
  -if f.object.new_record?
    Create New Audit Cycle
  -else
    Edit Audit Cycle

-if !f.object.new_record?
  -content_for :modal_delete_path, delete_flow_cycle_path(f.object)

-if f.object.directive_id.nil?
  -directives = Directive
  -if params[:program_id].present?
    =hidden_field_tag :program_id, params[:program_id]
    -directives = directives.joins(:program_directives).where(:program_directives => { :program_id => params[:program_id] })
  -directives = directives.all
  -if directives.size > 1
    .row-fluid
      =wrapped_select(f, :span6, :directive_id, directives.map { |d| [d.display_name, d.id] }, :class => :collection, :multiple => false)
  -elsif directives.size == 1
    =f.hidden_field :directive_id, :value => directives[0].id
  -else
    .row-fluid.flash
      .span12.alert.alert-error
        Add a Regulation, Contract, or Policy before starting an audit
-else
  =f.hidden_field :directive_id

-default_title = "#{Date.today.year} - Audit"
-if params[:program_id].present?
  -program = Program.where(:id => params[:program_id]).first
  -if program.present?
    -default_title = "#{Date.today.year} - #{program.title} Audit"
-elsif f.object.directive.present?
  -default_title = "#{Date.today.year} - #{f.object.directive.title} Audit"

.row-fluid
  =wrapped_text_field f, :span4, :title, :placeholder => 'Enter title', :label_name => 'Audit Title <span class="required">*</span>'.html_safe, :value => f.object.title.presence || default_title
  =wrapped_text_field f, :span4, :audit_firm, :placeholder => '', :label_name => 'Audit Firm'
  =wrapped_text_field f, :span4, :audit_lead, :placeholder => '', :label_name => 'Audit Contact'
.row-fluid
  =wrapped_date_field f, :span4, :start_at, :class => 'date', :label_name => 'Audit Start Date', :placeholder => 'MM/DD/YYYY', :value => f.object.start_at.present? ? f.object.start_at.strftime('%m/%d/%Y') : Time.zone.now.strftime('%m/%d/%Y')
  =wrapped_date_field f, :span4, :end_at, :class => 'date', :label_name => 'Audit End Date', :placeholder => 'MM/DD/YYYY', :value => f.object.end_at.present? ? f.object.end_at.strftime('%m/%d/%Y') : nil
  .span4
    =f.label :complete
    =f.check_box :complete, :class => :check_box
    %span.description Was this audit cycle completed?

.row-fluid
  =wrapped_text_area f, :span12, :description, :class => 'double wysihtml5', :placeholder => 'Enter description here', :label_name => 'Description (Optional)', :wrapper_div_class => 'wysiwyg-area'

%br

=render :partial => "shared/wysihtml5"
