-model_name = controller_name.singularize
-model_title = model_name.titleize
-instance = instance_variable_get("@" + model_name)

-content_for :widget_title do
  #{model_title} Information

-content_for :widget_help, "#{model_name}_info"

-content_for :widget_buttons do
  %a.widgetbtn{ :href => method("edit_flow_#{model_name}_path").call(instance),
                :'data-toggle' => 'modal-ajax-form',
                :'data-modal-reset' => 'reset',
                :'data-form-target' => 'refresh',
                :'data-modal-class' => 'modal-wide',
                :title => "Edit #{model_title}" }
    %i.gcmsicon-edit-grey

.information
  .toolbar-widget

  %hr.hr-widget

  .row-fluid
    .span12
      .span4
        %label Code
        %input.inputtext-small{:type => "text", :disabled => "disabled", :value => instance.slug}
  .row-fluid
    .span12
      %label Title
      %input.span12{:disabled => "disabled", :type => "text", :value => instance.title}
  .row-fluid
    .span12
      %label Description
      %textarea#textarea{:disabled => "disabled", :rows => 3}=instance.description

%hr.hr-widget

.row-fluid
  .span12
    =render :partial => 'documents/object_list',
            :locals  => { :object => instance }

%hr.hr-widget

.row-fluid
  .span12
    =render :partial => 'people/object_list',
            :locals  => { :object => instance }

%hr.hr-widget

.row-fluid
  .span6.nominheight
    %label.fltlft
      %strong> Created: #{instance.created_at.strftime("%m/%d/%y")}
  .span6.nominheight
    %label.fltrt
      %strong> Updated: #{instance.updated_at.strftime("%m/%d/%y")}
