-state = false #f.object.approved?

.row-fluid.object-info
  -if !object.new_record?
    .span3
      %strong Created:
      %span #{object.created_at && object.created_at.strftime("%m/%d/%y")}
    -if object.class.method_defined? :created_by
      .span3
        %strong Creator:
        %span #{object.created_by.nil? ? 'unknown' : object.created_by.display_name}
    .span3
      %strong Updated:
      %span.updatedDate #{object.updated_at && object.updated_at.strftime("%m/%d/%y")}
    .span3
      %strong Last Editor:
      %span #{object.modified_by.nil? ? 'unknown' : object.modified_by.display_name}
    .span3
  -else
    .span3
      %strong Creator:
      %span #{current_user.display_name}
    .span3
    -#%span.status
      %h5
        Status:
        %span.statusValue Draft
  %span.force-wrap
