-content_for :widget_title do
  %i.grcicon-risk
  Risk

-content_for :widget_help, "risk_main"

-content_for :widget_id, "risk_main_widget"

.risk-content
  .row-fluid
    .span12
      %h4 Description
      .key-p 
        =display_as_html risk.description

  .row-fluid
    .span4
      %h4 Inherent Risk Note
      =display_as_html risk.inherent_risk
    .span4
      %h4 Residual Risk Note
      =display_as_html risk.residual_risk
    .span4
      %h4 Risk Mitigation Note
      =display_as_html risk.risk_mitigation

  .row-fluid
    .span6
      %h3 Causes/Threats
    .span6
      %h3 Impacts

  .row-fluid
    .span6
      .risk-level{ :class=> "risk-level-#{risk.adjusted_likelihood}"}
        %span{ :rel=>"tooltip", :title => "#{Risk::RATINGS[risk.adjusted_likelihood]}"}=risk.likelihood_rating
      %h4 Likelihood
      =display_as_html risk.likelihood
    .span6
      %h4 Impact Description
      =display_as_html risk.impact
  .row-fluid
    .span6
      %h4 Threat Vector
      =display_as_html risk.threat_vector
    .span6
      .risk-level{ :class=> "risk-level-#{risk.financial_impact_rating}"}
        %span{ :rel=>"tooltip", :title => "#{Risk::RATINGS[risk.financial_impact_rating]}"}=risk.financial_impact_rating
      %h4 Company-wide Financial Impact

      .risk-level{ :class=> "risk-level-#{risk.reputational_impact_rating}"}
        %span{ :rel=>"tooltip", :title => "#{Risk::RATINGS[risk.reputational_impact_rating]}"}=risk.reputational_impact_rating
      %h4 Company-wide Reputational Impact

      .risk-level{ :class=> "risk-level-#{risk.operational_impact_rating}"}
        %span{ :rel=>"tooltip", :title => "#{Risk::RATINGS[risk.operational_impact_rating]}"}=risk.operational_impact_rating
      %h4 Company-wide Operational Impact
  .row-fluid
    .span6
      %h4 Trigger/Immediate /Proximate Cause
      =display_as_html risk.trigger
  .row-fluid
    .span6
      %h4 Pre-conditions / Contributory Causes
      =display_as_html risk.preconditions
