-content_for :widget_title do
  Risk

-content_for :widget_help, "risk_main"


.row-fluid
  .span6
    %h3 Causes
  .span6
    %h3 Impacts

.row-fluid
  .span6
    %h4 Likelihood
    .item #{risk.likelihood_rating} - #{Risk::RATINGS[risk.likelihood_rating]}
    =display_as_html risk.likelihood
  .span6
    %h4 Company-wide Financial Impact
    .item #{risk.financial_impact_rating} - #{Risk::RATINGS[risk.financial_impact_rating]}
    =display_as_html risk.financial_impact
.row-fluid
  .span6
    %h4 Threat Vector
    =display_as_html risk.threat_vector
  .span6
    %h4 Company-wide Reputational Impact
    .item #{risk.reputational_impact_rating} - #{Risk::RATINGS[risk.reputational_impact_rating]}
    =display_as_html risk.reputational_impact
.row-fluid
  .span6
    %h4 Trigger/Immediate /Proximate Cause
    =display_as_html risk.trigger
  .span6
    %h4 Company-wide Operational Impact
    .item #{risk.operational_impact_rating} - #{Risk::RATINGS[risk.operational_impact_rating]}
    =display_as_html risk.operational_impact

.row-fluid
  .span12
    %h4 Pre-conditions / Contributory Causes
    =display_as_html risk.preconditions
