-content_for :widget_title do
  System Info

-content_for :widget_help, 'system_info'

-content_for :widget_id, 'system_info_widget'

.information
  -if has_feature?(:BETA)
    -status_counts, status_percentages = [[5,9,2,4], [25,45,10,20]]
    %label
      .pull-right
        %span.statustextred=status_counts[0]
        %span /
        %span.statustextblue=status_counts[1]
        %span /
        %span.statustextyellow=status_counts[2]
        %span /
        %span.statustextgreen=status_counts[3]
      Status
    %span.item-link
      .progress.progress-higher
        .bar.bar-danger{:rel => "tooltip", :'data-placement' => "top", :title => "One (#{status_counts[0]})", :'data-percentage' => status_percentages[0]}
        .bar.bar-info{:rel => "tooltip", :'data-placement' => "top", :title => "Two (#{status_counts[1]})", :'data-percentage' => status_percentages[1]}
        .bar.bar-warning{:rel => "tooltip", :'data-placement' => "top", :title => "Three (#{status_counts[2]})", :'data-percentage' => status_percentages[2]}
        .bar.bar-success{:rel => "tooltip", :'data-placement' => "top", :title => "Four (#{status_counts[3]})", :'data-percentage' => status_percentages[3]}

%ul.info-list
  %li.float-element
    %label
      Code
    %span
      =system.slug
  %li.float-element
    %label
      Type
    %span
      =system.type && system.type.title
  %li.float-element
    %label
      System or Process
    %span
      =system.is_biz_process? ? 'Process' : 'System'
  %li.float-element
    %label
      Full Title
    %span
      =system.title
  %li.float-element
    %label
      Status
    %span
    
  %li.float-element
    %label
      Network Zone
    %span
      =system.network_zone && system.network_zone.title
  %li.float-element
    %label
      Direct Link
    %span
      =link_to(system.url,system.url,:target => "_blank",:class => "inner-element")
  %li
    %label
      Description
    %span
      =display_as_html system.description

%section.footer
  .row-fluid
    .span6
      %p.footer-left
        Created: #{system.created_at.strftime("%m/%d/%y")}
        