-# locals: risky_attribute
-model_name = controller_name.singularize
-model_title = controller_name.singularize.titleize

-content_for :widget_title do
  #{risky_attribute.type_string.pluralize.titleize} with this Risky Attribute

-content_for :widget_help, "#{model_name}_business_objects"

-content_for :widget_id, "#{model_name}_business_objects_widget"

-content_for :widget_buttons do
  .filter
    .row-fluid
      .span12
        .pull-right
          %a.widgetbtn.btn.btn-add{ :rel => "tooltip", :"data-placement" => "left", :title => "Link #{risky_attribute.type_string.pluralize.titleize} to this Risky Attribute", :'data-modal-class' => 'modal-wide', :'data-modal-reset' => 'reset', :'data-list-target' => 'refresh', :"data-toggle" => "modal-ajax-relationship-selector", :href => list_edit_flow_relationships_path(:object_id => risky_attribute.id, :object_type => risky_attribute.class.name, :related_model => risky_attribute.type_string, :related_side => 'source', :relationship_type => "#{risky_attribute.type_string.underscore}_has_risky_attribute") }
            %i.grcicon-link-white
            =risky_attribute.type_string.titleize
            

%ul.tree-structure
  -risky_attribute.attributed_objects.each do |object|
    =render :partial => "attributed_object",
            :locals => { :instance => object }
