-content_for :widget_title do
  Governance

-content_for :widget_buttons do
  .filter
    %input.ui-corner-all.widgetsearch.clear-value(type='text' placeholder='Search')

-content_for :widget_help, 'governance'

-content_for :widget_id, 'governance_widget'

-quick_result ||= nil
-prefix = quick_result ? "qf" : "dash"

.tabbable.tabs-left{ :id => quick_result ? nil : "quick_find" }
  %ul.nav.nav-tabs
    %li.active=link_to '<i class="grcicon-program-color"></i> Programs <span class="item-count"></span>'.html_safe, "##{prefix}_programs", :data => { :'tab-href' => flow_programs_path(:quick => true, :qr => quick_result, :company_controls_first => true), :toggle => 'tab' }
    %li=link_to '<i class="grcicon-regulation-color"></i> Regulations <span class="item-count"></span>'.html_safe, "##{prefix}_regulations", :data => { :'tab-href' => flow_directives_path(:quick => true, :qr => quick_result, :meta_kind => "regulation"), :toggle => 'tab' }
    %li=link_to '<i class="grcicon-policy-color"></i> Policies <span class="item-count"></span>'.html_safe, "##{prefix}_policies", :data => { :'tab-href' => flow_directives_path(:quick => true, :qr => quick_result, :meta_kind => "policy"), :toggle => 'tab' }
    %li=link_to '<i class="grcicon-contract-color"></i> Contracts <span class="item-count"></span>'.html_safe, "##{prefix}_contracts", :data => { :'tab-href' => flow_directives_path(:quick => true, :qr => quick_result, :meta_kind => "contract"), :toggle => 'tab' }

  .tab-content
    .tab-pane{ :id => "#{prefix}_programs" }
    .tab-pane{ :id => "#{prefix}_regulations" }
    .tab-pane{ :id => "#{prefix}_policies" }
    .tab-pane{ :id => "#{prefix}_contracts" }
