!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title=@title || "GRC"
    -if has_feature? :BETA
      =stylesheet_link_tag 'design'
      =javascript_include_tag 'design'
      -#
        %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
        %meta{:content => "", :name => "description"}/
        %meta{:content => "", :name => "author"}/
        / The HTML5 shim, for IE6-8 support of HTML5 elements
        /[if lt IE 9] <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    -else
      =stylesheet_link_tag 'dashboard'
      =javascript_include_tag 'dashboard'
    =csrf_meta_tag
    %link(href='/favicon.ico' rel='icon' type='image/x-icon')
    
    -#NOTE: This resource occasionally hangs and prevents page from rendering, so loaded after the fact via jquery
    :javascript
      jQuery(function($) { $('head').append("<link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'></link>"); });

  %body{ :class => "#{has_feature?(:BETA) ? 'BETA' : ''}", :'data-target' => '.bs-docs-sidebar', :'data-spy' => 'scroll'}

    %header.header.main
      .header-bar
        .container-fluid
          .row-fluid
            .span2
              .logo
                %a{:href => root_path}
                  -if CMS_CONFIG["COMPANY_LOGO"].present?
                    =image_tag(CMS_CONFIG['COMPANY_LOGO'], :alt => 'GRC', :title => 'GRC')
                  -elsif has_feature? :BETA
                    =image_tag('/images/logos/logo.png')
                  -else
                    Google GRC                
            .span10
              %ul.menu
                -if has_feature? :BETA
                  -if controller.controller_name == 'programs_dash'
                    %li.gov
                      %a#grcbutton-governance{:href => "#"} Governance
                    %li.risk
                      %a#grcbutton-risk{:href => "#"} Risk
                    %li.compliance
                      %a#grcbuttonStable Compliance
                %li.quick-search
                  .quick-search-holder
                    %button(type='submit')
                      %i.grcicon-search-new-white
                    %input.ui-corner-all.widgetsearch.clear-value(type='text' placeholder='Type to search...')
                  .quick-search-results
                    %a.remove{:href => "#", :class => "btn btn-mini pull-right", :rel => "tooltip", :title => "Remove widget", :'data-placement'=>"left"}
                      %i.grcicon-x-grey
                    %p.title
                      Search Results (29)
                    .tabs-left
                      %ul.nav.nav-tabs
                        %li
                          %a{:href => '#tab1', :'data-toggle' => 'tab'}
                            Controls (8)
                        %li
                          %a{:href => '#tab2', :'data-toggle' => 'tab'}
                            People (12)
                        %li
                          %a{:href => '#tab3', :'data-toggle' => 'tab'}
                            Risks (9)
                      
                      .tab-content
                        #tab1.tab-pane
                          %ul.tree
                            %li.main
                              .item-identifier
                                .item-title
                                  Lorem ipsum Control
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Ipsum Control
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Sum Control
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Orem Control
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Rem Control
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Rem Sum Control
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Lor Um Control
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Lore Psum Control
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                              
                        #tab2.tab-pane
                          %ul.tree
                            %li.main
                              .item-identifier
                                .item-title
                                  Lorem Ipsum
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Ipsum
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Sum
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Orem
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Rem
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Rem Sum
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Lor Um
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Lore Psum
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Psum
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Psum Lady
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Lorem Mica
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Nick Ipsum
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                        #tab3.tab-pane
                          %ul.tree
                            %li.main
                              .item-identifier
                                .item-title
                                  Lorem ipsum Risk
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Ipsum Risk
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Sum Risk
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Orem Risk
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Rem Risk
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Rem Sum Risk
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Lor Um Risk
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Lore Psum Risk
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                            %li.main
                              .item-identifier
                                .item-title
                                  Psum Risk
                                .item-actions
                                  %a.btn.btn-mini
                                    %i.grcicon-goto
                                  %a.btn.btn-mini
                                    %i.grcicon-link
                    .quick-find-add
                      Didn't find it in results?
                      %a.btn.btn-add.btn-small.pull-right{:href => '#'}
                        %i.grcicon-add-new
                        Object
                %li.add-object
                  .btn-group
                    %a.dropdown-toggle{ :'data-toggle' => 'dropdown' }
                      %i.grcicon-add-new
                      Object
                      %i.grcicon-carot-white
                    %ul.dropdown-menu
                      %li.divider
                      %li.title Create New ...
                      %li
                        %a{ :href => new_flow_program_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
                          Program or Policy
                      %li
                        %a{ :href => new_flow_risky_attribute_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
                          Risky Attribute
                      %li
                        %a{ :href => new_flow_risk_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
                          Risk
                      %li
                        %a{ :href => new_flow_control_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
                          Control
                      %li.divider
                      %li
                        %a{ :href => new_flow_system_path(:'system[is_biz_process]' => 1), :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
                          Business Process
                      %li
                        %a{ :href => new_flow_system_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
                          System
                      %li.divider
                      %li
                        %a{ :href => new_flow_org_group_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
                          Org Group
                      %li
                        %a{ :href => new_flow_product_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
                          Product
                      %li
                        %a{ :href => new_flow_project_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
                          Project
                      %li
                        %a{ :href => new_flow_facility_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
                          Facility
                      %li
                        %a{ :href => new_flow_market_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
                          Market
                      %li
                        %a{ :href => new_flow_data_asset_path, :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
                          Data Asset
                      -if has_feature? :BETA
                        %li.demoItem
                          %a{ :href => '#', :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
                            Person
                        %li.demoItem
                          %a{ :href => '#', :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
                            Reference
                        %li.demoItem
                          %a{ :href => '#', :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
                            Business Object
                        %li.demoItem
                          %a{ :href => '#', :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
                            Threat
                        %li.demoItem
                          %a{ :href => '#', :'data-toggle' => 'modal-ajax-form', :'data-modal-reset' => 'reset', :'data-form-target' => 'redirect', :'data-modal-class' => 'modal-wide' }
                            Vulnerability

                  %li{:class => "#{controller.controller_name != 'programs_dash' ? '' : 'active'}"}
                    %a{:href => programs_dash_path}
                      %i.grcicon-dashboard
                      Dashboard
                  -help_path = yield(:page_help)
                  -if !help_path.blank?
                    %li
                      %a{:href => "/help/#{help_path}", :'data-toggle' => 'modal-ajax'}
                        %i.grcicon-help
                        Help
                %li.user.dropdown.dropdown-black
                  %a{:href => "#", :class => "dropdown-toggle", :'data-toggle' =>"dropdown", :role =>"button"}
                    %i.grcicon-user
                    %strong=current_user.email
                    %i.grcicon-carot-white
                  %ul.dropdown-menu{:'aria-labelledby' => 'drop1', :role =>"menu"}
                    -if current_user.has_role?(:superuser)
                      %li
                        %a{:href => admin_dash_path}
                          %i.grcicon-admin
                          Admin Area
                    %li
                      %a{:href =>logout_path, :tabindex =>"-1"}
                        %i.grcicon-logout
                        Logout
                %li.screen.dropdown.dropdown-black
                  %a{:href => "#", :class => "dropdown-toggle screen-size", :'data-toggle' =>"dropdown", :role =>"button"}
                    %i.grcicon-desktop
                    %span
                      100%
                    %i.grcicon-carot-white
                  %ul.dropdown-menu{:'aria-labelledby' => 'drop2', :role =>"menu"}
                    %li.full-view
                      %a{:href =>'#', :tabindex =>"-1"}
                        %i.grcicon-wide
                        100%
                    %li.wide-view
                      %a{:href =>'#', :tabindex =>"-1"}
                        %i.grcicon-wide
                        Wide
                    %li.narrow-view
                      %a{:href =>'#', :tabindex =>"-1"}
                        %i.grcicon-normal
                        Narrow
            
      .header-content{:'data-spy' => 'affix', :'data-offset-top' => '25'}
        .container-fluid
          .row-fluid
            .span6
              =yield :header
            .span6
              =yield :subheader_extras
              


    -#-if has_feature? :BETA
      -if controller.controller_name == 'programs_dash'
        .headercenter.fltnone
          =render :partial => 'design/templates/grcmenu'
              
    =yield :subheader_plus

    %section.content{:'data-spy' => 'affix', :'data-offset-top' => '25'}
      .flash!=[:error, :warning, :notice].map { |type| content_tag(:div, flash[type], :class => type) if flash[type] }.join
      =yield

    %section.footer
      .container-fluid
        .row-fluid
          .span8
            %ul.bottom-nav
              %li
                -if controller_name == 'design'
                  -path = programs_dash_path
                -else
                  -path = request.fullpath                
                -path = path.gsub(/BETA=[^&]*&?/, '').sub(/[?&]$/, '')
                -path += path.include?('?') ? '&' : '?'
                -if has_feature? :BETA
                  %a.demo-hide{ :href => "#{path}BETA=0" }
                    Hide Demo
                -else
                  %a.demo-show{ :href => "#{path}BETA=1" }
                    Show Demo
          .span4
            %p
              =CMS_CONFIG['COMPANY']
              Confidential.
              Copyright &copy;
              =Time.now.year
              =CMS_CONFIG['COMPANY']
            
    #templates
      #help-modal.modal.hide.fade
        .modal-header
          %a.close{"data-dismiss" => "modal"} x
          %h1 This content/function is coming soon
        .modal-body
          %p We are working on it!
        .modal-footer
          %a.close.btn.btn-large.btn-primary{"data-dismiss" => "modal", :href => "#"} Close

      #comingsoon-modal.modal.hide.fade
        .modal-header
          %a.close{"data-dismiss" => "modal"} x
          %h1 This content/function is coming soon
        .modal-body
          %p We are working on it!
        .modal-footer
          %a.close.btn.btn-large.btn-primary{"data-dismiss" => "modal", :href => "#"} Close
